body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, #9E829C, #B0C7BD);
    background-attachment: fixed;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form * {
    margin: 20px;
}

.hidden {
    display: none;
}